<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netty100.mapper.WarnTimesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.netty100.entity.WarnTimes">
        <id column="id" property="id" />
        <result column="times" property="times" />
        <result column="update_time" property="updateTime" />
        <result column="key" property="key" />
    </resultMap>

</mapper>
